/* GLOBAL */

:root {
    --hot-pink: #ff0080;
    --dark-gray: #595959;
    --light-gray: #eeeeeeff;
    --light-pink: #ffcae4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-gray);
    padding: 20px 35px;
    justify-content: space-between;
}

header h1 {
    color: var(--hot-pink);
    font-size: 36px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    margin: 20px;
    padding: 0 0 5px 0;
    color: var(--hot-pink);
    font-size: 24px;
}

header nav ul li a:hover {
    border-bottom: 3px solid var(--hot-pink);
}

/* HERO */

.hero {
    background-image: url('../images/donut-background-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 550px;
}

.hero-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.hero-boxes h2, .hero-boxes p {
    margin: 15px 0 15px 200px;
    padding: 20px;
    background: white;
    color: var(--dark-gray)
;}

.hero-boxes h2 {
    margin-top: 100px;
    font-size: 48px;
}

.hero-boxes p {
    font-size: 24px;
}

/* SECTION TITLES */

.section-title {
    color: var(--dark-gray);
    text-align: center;
    font-size: 48px;
    border-bottom: 3px solid var(--hot-pink);
    padding-bottom: 20px;
    width: 35%;
    margin: 50px auto 35px auto;
}

/* ABOUT */

#bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#bio img {
    max-width: 100%;
    height: 400px;
}

#bio p {
    font-size: 20px;
    width: 40%;
    color: var(--dark-gray);
}



/* WORK */

.run-buddy {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('../images/run-buddy.jpg');
    background-size: cover;
    background-position: 80%;
    height: 550px;
    margin: 30px;
}

.run-buddy:hover {
    border: 5px solid var(--hot-pink);
}

.run-buddy h3 {
    position: absolute;
    padding: 30px; 
    right: 40px;
    bottom: 40px;
    background-color: var(--light-pink);
    color: var(--dark-gray);
    font-size: 24px;
    
}

.donut-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donut-projects h3 {
    position: absolute;
    padding: 20px; 
    right: 40px;
    bottom: 40px;
    background-color: var(--light-pink); 
    color: var(--dark-gray);
    font-size: 20px;
    
}

#sprinkle-donuts {
    position: relative;
    background-image: url('../images/date-dime.png');
    background-size: cover;
    background-position: 80%;
    height: 300px;
    margin: 15px;
    padding: 10px;
    width: 47%;
}

#sprinkle-donuts:hover {
    border: 5px solid var(--hot-pink);
}

#jelly-donuts {
    position: relative;
    background-image: url('../images/jelly-donut.jpg');
    background-size: cover;
    background-position: 80%;
    height: 300px;
    margin: 15px;
    padding: 10px;
    width: 47%;
}

#jelly-donuts:hover {
    border: 5px solid var(--hot-pink);
}

#cake-donuts {
    position: relative;
    background-image: url('../images/cake-donuts.jpg');
    background-size: cover;
    background-position: 80%;
    height: 300px;
    margin: 15px;
    padding: 10px;
    width: 47%;
}

#cake-donuts:hover {
    border: 5px solid var(--hot-pink);
}

#donut-holes {
    position: relative;
    background-image: url('../images/donut-holes.jpg');
    background-size: cover;
    background-position: 80%;
    height: 300px;
    margin: 15px;
    padding: 10px;
    width: 47%;
}

#donut-holes:hover {
    border: 5px solid var(--hot-pink);
}

/* CONTACT */

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
}

#contact h3 {
    color: var(--hot-pink);
    font-size: 36px;
    font-weight: lighter;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#contact li {
    margin: 20px;
    color: var(--hot-pink);
    font-size: 24px;
    padding-bottom: 10px;
    margin: 0 50px;
}

#contact li a {
    text-decoration: none;
}

#contact li:hover {
    border-bottom: 3px solid var(--hot-pink);
}


/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-gray);
    color: var(--hot-pink);
    font-size: 16px;
    padding: 20px 35px;
    justify-content: center;
}

/* MEDIA QUERY FOR 999px BREAKPOINT */

@media screen and (max-width: 999px) {
    #sprinkle-donuts {
        width: 42%;
    }
    #jelly-donuts {
        width: 42%;
    }
    #cake-donuts {
        width: 42%;
    }
    #donut-holes {
        width: 42%;
    }
}